* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #101010;
    --color-white: #f0f0f0;
    --color-gray: #5c5c5c;
    --color-blue: #1d2adf;

    --font-title-desktop: 3rem;
    --font-span-desktop: 1.5rem;
    --font-text-desktop: 1.2rem;

    --font-title-mobile: 2rem;
    --font-span-mobile: 1.2rem;
    --font-text-mobile: 1rem;
}

body {
    background-color: var(--color-black);
    font-family: Arial, Helvetica, sans-serif;
}

/* Main container */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

.first-container {
    display: flex;
    flex-wrap: wrap;
}

.basic-box {
    background-color: var(--color-white);
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 18px;
}

.intro-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 12px;
}

.img-content {
    margin: auto;
}

.img-content img {
    width: 256px;
    height: 256px;
    border-radius: 50%;
}

.desc-content {
    max-width: 720px;
    /* padding: 16px; */
    grid-column: span 3;
}

.desc-content h3{
    color: #1d2adf;
    margin: 12px 0;
    font-weight: normal;
}

.desc-content p {
    font-size: 15px;
}

.skill-content {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    grid-column: span 3;
}

.skill-content h5 {
    text-transform: uppercase;
    color: var(--color-blue);
    font-weight: bolder;
    margin-bottom: 12px;
    text-align: center;
}

.user-skill-icon {
    padding: 14px;
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.user-skill-icon i {
    font-size: 1.75rem;
    text-align: center;
}

/* Serviços prestados */
.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 2rem;
}

.service-card {
    border: 2px solid var(--color-blue);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.service-card h4 {
    color: var(--color-blue);
    font-size: 1.5rem;
}

/* Contatos */
.footer {
    border-top: 2px solid var(--color-blue);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-content {
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-content span {
    font-weight: bolder;
    color: var(--color-blue);
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    padding: 16px;
    align-items: center;
}

.card a{
    color: var(--color-white);
    font-size: 3rem;
    padding: 12px;
}

.fa-github, .fa-linkedin-in{
    padding: 12px;
}

.fa-github:hover{
    background-color: var(--color-white);
    color: #333333;
    border-radius: 8px;
}

.fa-linkedin-in:hover{
    background-color: var(--color-white);
    color: #1877f2;
    border-radius: 8px;
}